@import "style0.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
// ------ МИКСИНЫ -----//
@mixin anim($time, $delay) {
    transition: all $time ease $delay;
}

// ------ ПЕРЕМЕННЫЕ -----//
$minwidth:320px;
$mw:856;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
// ------ КНОПКИ -----//
.btn {
    border-radius: 3px;
    padding: 14px 40px;
    display: inline-block;
    vertical-align: top;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

// ------ ОБОЛОЧКА -----//
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  display: flex;
  flex-direction: column;
}

// ------ СЕТКА -----//
.container {
    max-width: $mw+px;
    width: 100%;
    margin: 0 auto;
     @media (max-width: $md1+px) {
         max-width: 970px;
     }
     @media (max-width: $md2+px) {
         max-width: 750px;
     }
     @media (max-width: $md3+px) {
         max-width: 550px;
         padding: 0 10px;
     }
}

body {
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
}