* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.header {
  color: #768298;
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); }
  @media (max-width: 550px) {
    .header {
      height: 105px; } }
  .header__content {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 550px) {
      .header__content {
        flex-direction: column; } }
  .header__logo {
    margin: 25px 10px; }
    @media (max-width: 550px) {
      .header__logo {
        margin: 16px 20px;
        display: flex;
        justify-content: space-between; } }
    .header__logo img {
      height: 30px;
      width: 150px; }
  .header__search {
    margin: 20px 20px 0;
    display: inline-flex;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 763px; }
    @media (max-width: 550px) {
      .header__search {
        margin: 0;
        padding: 10px 20px;
        border: none;
        border-top: solid 1px #EBEBF1;
        border-radius: 0; } }
    .header__search input {
      width: 100%;
      border: none;
      outline: none;
      line-height: 1.2; }
  .header__account {
    height: 80px;
    margin: 0 10px;
    padding: 0 0 0 19px;
    border-left: 1px solid #EBEBF1;
    display: flex;
    align-items: center; }
    @media (max-width: 550px) {
      .header__account {
        display: none; } }
    .header__account img {
      margin: 0 0 0 10px;
      object-fit: cover;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
    .header__account span {
      letter-spacing: 0.01em; }
  .header__person {
    display: none; }
    @media (max-width: 550px) {
      .header__person {
        display: block; }
        .header__person img {
          width: 30px; } }

.search__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1; }

.partners {
  margin: 70px 10px; }
  .partners__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    margin: 0 0 30px; }
    @media (max-width: 550px) {
      .partners__title {
        width: 335px;
        margin: 0 auto 30px; } }

.card {
  display: flex;
  flex-wrap: wrap; }
  .card__item {
    margin: 0 30px 30px 0;
    border: solid 1px #EBEBF1;
    border-radius: 5px;
    width: 257px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s; }
    .card__item:hover {
      box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03); }
    @media (max-width: 550px) {
      .card__item {
        margin: 0 auto 20px;
        width: 335px;
        height: 140px; } }
